<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ooad.xproject.mapper.RecordInstMapper">
  <resultMap id="BaseResultMap" type="com.ooad.xproject.entity.RecordInst">
    <id column="rcd_inst_id" jdbcType="INTEGER" property="rcdInstId" />
    <result column="rcd_id" jdbcType="INTEGER" property="rcdId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
  </resultMap>
  <sql id="Base_Column_List">
    rcd_inst_id, rcd_id, role_id, modified_time, content, comments
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record_insts
    where rcd_inst_id = #{rcdInstId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from record_insts
    where rcd_inst_id = #{rcdInstId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ooad.xproject.entity.RecordInst">
    <selectKey keyProperty="rcdInstId" order="AFTER" resultType="java.lang.Integer">
      Postgres
    </selectKey>
    insert into record_insts (rcd_id, role_id, modified_time, 
      content, comments)
    values (#{rcdId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{modifiedTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=VARCHAR}, #{comments,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ooad.xproject.entity.RecordInst">
    <selectKey keyProperty="rcdInstId" order="AFTER" resultType="java.lang.Integer">
      Postgres
    </selectKey>
    insert into record_insts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rcdId != null">
        rcd_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="comments != null">
        comments,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rcdId != null">
        #{rcdId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        #{comments,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ooad.xproject.entity.RecordInst">
    update record_insts
    <set>
      <if test="rcdId != null">
        rcd_id = #{rcdId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="comments != null">
        comments = #{comments,jdbcType=VARCHAR},
      </if>
    </set>
    where rcd_inst_id = #{rcdInstId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ooad.xproject.entity.RecordInst">
    update record_insts
    set rcd_id = #{rcdId,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      comments = #{comments,jdbcType=VARCHAR}
    where rcd_inst_id = #{rcdInstId,jdbcType=INTEGER}
  </update>


  <select id="selectByRcdId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from record_insts
    where rcd_id = #{rcdId,jdbcType=INTEGER}
  </select>
    <select id="selectByProjAndStdRoleId" resultType="com.ooad.xproject.dto.RecordInstDTO">
      select r.rcd_id,
             ri.rcd_inst_id,
             rcd_name,
             r.type,
             created_time,
             modified_time,
             r.derived,
             t.tch_name,
             t.email,
             ri.content,
             r.base_content,
             comments
      from records as r
             join record_insts ri on r.rcd_id = ri.rcd_id
             join teachers t on r.creator_id = t.role_id
      where proj_id = #{projId}
        and ri.role_id = #{stdRoleId}
      order by rcd_id;
    </select>
</mapper>